@(story: Story, formComment: Form[(String)])


@import helper._

@main("Story") {

<h1>@story.title</h1>
<h2>By: @story.author</h2>
<h3 align="right"> @story.data</h3>
<p>
    @story.text
</p>

<p>
    Comments: @story.getComments(story).size
    @story.getComments(story).map { comment =>
        <ul>
            <li> @comment.text</a></td></li>
        </ul>
        }

</p>
}

@helper.form(routes.StoryCtrl.makeComment(story.id)) {
<h1>Create a new story</h1>

<p>
    Text
<p>
    <textarea rows="20" cols="100" name="text" value="@formComment("text").value" >
    </textarea>
<p>
    <button type="submit">Comment</button>
</p>
}

