@(story: Story, formComment: Form[(String)])


@import helper._

@main("Story") {

<h1>@story.title</h1>
<h2>By: @story.author</h2>
<h3 align="right"> @story.data</h3>
<p>
    @story.text
</p>

@helper.form(routes.StoryCtrl.makeComment(story.id)) {

    <textarea rows="15" cols="100" name="text" value="@formComment("text").value" >
    </textarea>
<p>
    <button type="submit">Add comment</button>
</p>
}


<h1>    Comments: @story.getComments().size</h1>

<p>

        @story.getComments().filter(c=> c.idParent.isEmpty).map { comment =>
    <ul>
        <li><h2> Replies: @comment.getComments().size</h2></li>
        <li> Author: @comment.author  @comment.date </li>
        <comment>@comment.text</comment> <br>
        <a href='@routes.StoryCtrl.comment(comment.id, story.id)'>Reply</a>

        @comment.getComments().map{comment =>
        <ul>
            <li><h2> Replies: @comment.getComments().size</h2></li>
            <li> Author: @comment.author  @comment.date </li>
            <li> Tengo comments?? @comment.hasComments() </li>
            <comment>@comment.text</comment> <br>
            <a href='@routes.StoryCtrl.comment(comment.id, story.id)'>Reply</a>
        </ul>
        }

    </ul>
    }

</p>
}

