@(users: List[User], userForm: Form[(String, String)])

@import helper._

@main("List of Users") {

<h1>Users available: @users.size users(s)</h1>

<ul>
    @users.map { user =>
    <li>
        @user.username
        @user.password

        @form(routes.UserCtrl.deleteUser(user.username)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>

<h2>Add a new user</h2>

@form(routes.UserCtrl.newUser) {

<p>

    Username <input type="username" name="username" value="@userForm("username").value">
</p>
<p>
    Password <input type="password" name="password" placeholder="Password">
</p>
<p>
    <button type="submit">Create</button>
</p>

}
}